/* RESET */
*{
margin:0;
padding:0;
box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
    
}
.wrapper{
    display: flex;
    flex-wrap: wrap;  
}
/* .wrapper *{
    border: 1px solid black; 
} */
header{
    width: 10vw; 
    line-height: 55px;
}
.navbar{
    height: 100%;  
    background-color: #000000;
    color: white;
    padding: 30px;
}
.navbar p,
ul{
    opacity: .5;
    line-height: 30px;
    list-style-type: none;
}
/* .navbar p > img{
    border: 2px solid lime;
} */
.flex-column{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.flex-row{
    display: flex;
}
.logo{
    width: 50%;
}
.logo-small{
    display: none;
}
.navbar p img{
    width: 15%;
    vertical-align: middle;
}
.banner{
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    width: 100%;
}
button{
    border-radius: 2rem;
    color: white;
    border: 2px solid white;
    padding: 10px 35px;
    margin: 25px 0 20px 0;
    background-color: #070B12;
}
.bar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 50px;
    width: 700px; 
    color: white;
    opacity: .5;
    font-size: 13px;
}
main{
   background-color: #141922; 
   width: 90vw;
   height: calc(100vh - 90px);
   color: white;
   overflow: scroll;
}
.tracks-container{
    margin-top: 20px;
}
.tracks{
    width: calc(100% / 6);
    /* height: 200px;  */
    margin-left: 15px;
}
article{
    text-align: center;
}
.for-you h2,
p{
    line-height: 40px;
}
.for-you p{
    opacity: .3;
}
.mix-container{
    margin-top: 30px;
}
.tracks img{
    width: 100%;
}
.popular{
    margin-top: 40px ;
}
.popular h2,
p{
    line-height: 40px;
}
.popular p{
    opacity: .3;
}
footer{
    height: 90px;
    width: 100%;
    background-color: #282828;
    color: white;
    /* position: fixed; */
}  
.footer-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.lateral{
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
}
.central{
    width: 50%;
    height: 100%;
    background-color: darkred;
}
.lateral img{
    /* width: 50%; */
    height: 100%;
}
.lateral i{
    padding: 25px;
}

@media screen and (max-width: 992px) {
   
    .tracks-container{
        display: flex;
        flex-wrap: wrap;
    }
    header{
        width: 10vw;
    }
}
@media screen and (max-width: 768px) {
    header{
        width: 10vw;
    }
}
@media screen and (max-width: 576px) {
    header.navbar{
        width: 80px;
    }
    .logo-small{
        display: block;
        width: 100%;
    }
    .tracks-container{
        display: flex;
        flex-wrap: wrap;
    }
    .bar{
        flex-wrap: wrap;
    }
    .logo{
        display: none;
    }
    .navbar div p,
    ul, 
    h4{
        display: none;
    }
    .username p{
        display: none;
    }
    main{
        max-width: 576px;
    }
    .navbar img{
        width: 100%;
    }
}
