/* RESET */
*{
margin:0;
padding:0;
box-sizing: border-box;
border: 1px solid black;
}
body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
header{
    width: 15vw; 
}
.navbar{
    height: 100%;  
   
    background-color: #000000;
    color: white;
    padding: 30px;
}
.navbar p{
    opacity: .5;
    line-height: 30px;
}
.flex-column{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.flex-row{
    display: flex;
    /* justify-content: space-between; */
}
.logo{
    width: 70%;
}
.navbar p img{
    width: 15%;
    vertical-align: middle;
}
.banner{
    display: flex;
    justify-content: flex-end;
    /* height: 100px; */
    background-color: #000000;
    width: 100%;
}
button{
    border-radius: 2rem;
    color: white;
    border: 2px solid white;
    padding: 10px 35px;
    margin: 25px 0 20px 0;
    background-color: #070B12;
}
.bar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 50px;
    width: 700px; 
    color: white;
}
main{
   background-color: #141922; 
   width: 85vw;
   height: 100vh;
   color: white;
   overflow: scroll;
}
.tracks-container{
    margin: 20px 0 100px 0;
}
.tracks{
    width: calc(100% / 6);
    height: 200px;
    background-color: darkorchid;
}
.mix-container{
    margin-bottom: 50px;
}
/* footer{
    
    position: relative;
}
.footer-container{
    position: absolute;
    height: 200px;
    background-color: aqua;
} */
